<div [class]="templateName + ' template'">
    <app-template-hero [selectedTemplate]="selectedTemplate?.templateHeroData"></app-template-hero>
    <app-template-separator></app-template-separator>

    @if (selectedTemplate?.youtubeImgSrc) {
        <app-template-youtube [imgSrc]="selectedTemplate?.youtubeImgSrc"></app-template-youtube>
    }

    @if (selectedTemplate?.license) {
        <app-template-license [license]="selectedTemplate?.license"></app-template-license>
        <app-template-separator></app-template-separator>
    }

    @if (selectedTemplate?.animationFeaturesData2) {
        <app-template-features-animation [featuresData]="selectedTemplate?.animationFeaturesData2" title="Features"></app-template-features-animation>
        <app-template-separator></app-template-separator>
    }

    @if (selectedTemplate?.features1Data) {
        <app-template-features [featuresData]="selectedTemplate?.features1Data" displayType="horizontal"></app-template-features>
        <app-template-separator></app-template-separator>
    }

    <app-template-configuration [configurationData]="selectedTemplate?.templateConfigurationData"></app-template-configuration>
    <app-template-separator></app-template-separator>

    @if (selectedTemplate?.animationFeaturesData1) {
        <app-template-features-animation [featuresData]="selectedTemplate?.animationFeaturesData1"></app-template-features-animation>
        <app-template-separator></app-template-separator>
    }

    @if (selectedTemplate?.features2Data) {
        <app-template-features [featuresData]="selectedTemplate?.features2Data" displayType="vertical"></app-template-features>
    }

    @if (selectedTemplate?.relatedData) {
        <app-template-separator></app-template-separator>
        <app-template-related [relatedData]="selectedTemplate?.relatedData"></app-template-related>
    }
</div>
